/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
}

.fullpage {
  background-color: lavender;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.horiCenter {
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.horiCenter:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.horiCenter > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                          /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.isButton {
  cursor: pointer;
  color: lightseagreen;
  font-weight: 600;
}