<div class="fullpage horiCenter">
  <div class="container row">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <i class="fa fa-lock  fa-5x"></i> <h1 tyle="margin-bottom: 100px">401</h1>
      </div>
      <div class="col-md-6 horiCenter">
        <div class="container">
          <h2>You are unauthorized to view this page</h2>
          <p>Please try to login or register first!</p>
        </div>div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          You are not logged in. Click here to
          <span class="isButton" routerLink="login">log in</span> or <span class="isButton" routerLink="register">register</span>
          and see the content.
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>


