@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.form-control {
  margin-top: 0px;
  margin-bottom: 0px;
}

.jumbotron {
  background: none;
}

.background {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: -1111;
  background-color: #e3e3e3;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.earth {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 3em auto;
  background: #888 url('../../assets/earthmap.jpg') 0 0 repeat;
  background-size: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: 1560px; /* 630*/
  animation: rotate 6s linear infinite;
  -webkit-animation: rotate 6s linear infinite;
  -moz-animation: rotate 6s linear infinite;
  -ms-animation: rotate 6s linear infinite;
  -o-animation: rotate 6s linear infinite;
  -webkit-transition: -webkit-transform 600ms linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 200ms linear;
  -moz-transform-style: preserve-3d;
  transition: transform 400ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
}

.earth:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

.earth:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
  -moz-box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
  -webkit-box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
  z-index: 2;
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 1560px 0;}
}


.image {
    /*background: url('./nasa-53884-unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2222;
}

.title{
  text-align: center;
    font-weight: normal;
    color: #db871a;
    text-transform: uppercase;
    font-size: 8em;
    white-space: nowrap;
    font-size: 10vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    @include skew(0, -6.7deg, false);
    @include transition-property(font-size);
    @include transition-duration(0.5s);

}

.whitebox{
  background-color: #ffffff;
  -webkit-box-shadow: 3px 4px 14px -1px rgba(0,0,0,0.77);
  -moz-box-shadow: 3px 4px 14px -1px rgba(0,0,0,0.77);
  box-shadow: 3px 4px 14px -1px rgba(0,0,0,0.77);
  padding: 15px;
}

.logbtn{
  font-size: 20px;
  padding: 10px 10px;
}
.logform{
  font-size: 18px;
}

.logintext{
  font-weight: 500;
  margin: 15px 0;
}

.noaccount{
  font-size: 14px;
}

@media only screen and (max-width: 768px) {

  .form-rowmobile{
    display: block;
  }

  .forminput{
    margin-bottom: 15px;
  }
  .firstinput{
    margin-top: 15px;
  }

  .earth{
    width: 300px;
    height: 300px;
    margin-top: 97%;
    background-size: 630px;
  }

  .title{
    font-size: 10vw;
  }

  @keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
  }

}

