<table class="main-nav">
  <tr class="main-nav-item" routerLink="" (click)="hideMenu()"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home</tr>
  <tr class="main-nav-item" routerLink="login" (click)="hideMenu()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Login</tr>
  <tr class="main-nav-item" routerLink="registration" (click)="hideMenu()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Registration</tr>
  <tr class="main-nav-item" routerLink="map" (click)="hideMenu()"><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp; Your destinations</tr>
</table>

<div class="footer">
  <p>&copy; Holidayz<br>
    Casper, Daniël, Florian, Kevin</p>
</div>