<table class="main-nav">
  <tr class="main-nav-item" routerLink="" (click)="hideMenu()"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home</tr>
  <tr class="main-nav-item" routerLink="login" (click)="hideMenu()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Login</tr>
  <tr class="main-nav-item" routerLink="registration" (click)="hideMenu()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Registration</tr>
  <tr class="main-nav-item" routerLink="profile" (click)="hideMenu()"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp; Profile</tr>

</table>

<div class="privacy">
    <i class="fa fa-user-secret"></i> Privacybeleid 
</div>

<div class="footer">
  &copy; Holidayz<br>
    Casper, Daniël, Florian, Kevin
</div>