.fullpage {
    background: url('../../assets/background-1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title{
  text-align: center;
    font-weight: normal;
    color: #db871a;
    text-transform: uppercase;
    font-size: 10em;
    white-space: nowrap;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    @include skew(0, -6.7deg, false);
    @include transition-property(font-size);
    @include transition-duration(0.5s);

}

.bgblock {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 100px;
    margin: 50px 0px;
    color: white;
    z-index: 50;
    font-size: 12pt;
    font-weight: 500;
}

.bgblock h2 {
  font-size: 18pt;
  font-weight: 700;
}

.earth {
  font-size: 12pt;
  font-weight: 600;
  position: relative;
  width: 600px;
  height: 600px;
  margin: 3em auto;
  background: #888 url('../../assets/earthmap.jpg') 0 0 repeat;
  background-size: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: 1560px; /* 630*/
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
  -moz-animation: rotate 10s linear infinite;
  -ms-animation: rotate 10s linear infinite;
  -o-animation: rotate 10s linear infinite;
  -webkit-transition: -webkit-transform 10s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 10s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 10s linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 0.7);
}

.earth:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, rgba(0, 0, 0, 0.7));
}

.earth:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.7) inset;
  -moz-box-shadow: -80px 15px 80px 10px rgba(0,0,0,.7) inset;
  -webkit-box-shadow: -80px 15px 80px 10px rgba(0,0,0,.7) inset;
  z-index: 2;
}
@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 1560px 0;}
}

@media only screen and (max-width: 768px) {

  .bgblock .row{
    margin-right: 0;
    margin-left: 0;
}
  .markers{
    margin-bottom: 30px;
  }
  h2{
    font-size:25px;
  }
  .markerstext{
    font-size: 20px;
  }


@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 1560px 0;}
}

.earth{
  width: 300px;
  height: 300px;
  /*margin-top: 97%;*/
  background-size: 630px;
}

.title{
  font-size: 10vw;
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
}
}
