.fullpage {
    background: url('../../assets/background-1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgblock {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px 0px;
    padding: 50px;
}
@media only screen and (max-width: 768px) {
  .bgblock .row{
    margin-right: 0;
    margin-left: 0;
}
  .markers{
    margin-bottom: 30px;
  }
  h2{
    font-size:25px;
  }
  .markerstext{
    font-size: 20px;
  }
}
