<div class="fullpage">
    <div class="container">
        <div class="earth">

      <div class="bgblock"> 
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-globe  fa-5x"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 horiCenter">
            <div class="container">
              <h2>Welcome to the holiday webapp!</h2>
              <p>insert some subtekst here</p>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="row bgblock">
        <div class="col-md-4 markers">
          <i class="fa fa-map-marker  fa-5x"></i><br>
          <div class="markerstext">Kruis je bezochte bestemmingen aan</div>
        </div>
        <div class="col-md-4 markers">
          <i class="fa fa-space-shuttle  fa-5x"></i><br>
          <div class="markerstext">Onderweg op elke smartphone beschikbaar</div>
        </div>
        <div class="col-md-4">
          <i class="fa fa-camera fa-5x"></i><br>
          <div class="markerstext">Voeg foto's van uw bestemming toe</div>
        </div>
      </div>
    </div>
  </div>
</div>